{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Pagina de inicio de los usuarios {{ controller_name }}! ✅</h1>

   {{ dump(usuarios) }}
	<ul>
		{% for usuario in usuarios %}
   	    	<li>
   	    		<ul>
   	    			<li>
   	    				{{usuario.id}}
   	    				{{usuario.nombre}}
   	    				{{usuario.email}}
   	    			</li>
   	    		</ul>
   	    	</li>
   		{% endfor %}
	</ul>
   	

</div>
{% endblock %}
